/*universal*/
html::-webkit-scrollbar,div::-webkit-scrollbar{
	width:6px;
	background:none;
}
html::-webkit-scrollbar-button,div::-webkit-scrollbar-button{
	display: none
}
html::-webkit-scrollbar-thumb,div::-webkit-scrollbar-thumb{
	background-color: rgba(0,0,0,.6);
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
code{
	background: #eee;
	border-radius: 5px;
	font-family: sans-serif;
	padding: 5px 10px 
}

body{
	width:100%!important;
}

.footer {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 100px;
    color: #99979c;
    text-align: center;
    background-color: #2a2730;
}
.footer.in-dex {
    margin-top: 0px;
}
.footer-links {	
    padding-left: 0;
    display: inline-block;
    margin-bottom: 20px;
}
.footer-links li {
	margin-left: 25px;
	margin-top: 15px;
    display: inline-block;
}
.footer-links a {
	color: #ccc;
	transition:0.25s ease-out
}
.footer-links a:hover{
	color: #fff
}
.card{
	border: none;
}
.card-img-overlay{
	-webkit-transform: translate(-40%, -40%);
	left: 40%;
	top: 40%;
	position: absolute;
}
@media(max-width:735px){
	.card-img-overlay{
		-webkit-transform: translate(-0%, -0%);
		left: 0%;
		top: 5%;
		position: absolute;
	}
}
#brandimg{
	height:55px;
	margin-top: 15px
}
@media(max-width:735px){
	#brandimg{
	height:35px;
	margin-top:2px
	}
}
tr{
	height: 40px
}
td{
	width:50%;
}

.showname{
	font-size:1.2em;
	color:#0288D1;
	line-height: 43px;
}
.green{
	background-color: #008c57
}
.inlist{
	margin-top:12px;
}
.jumbotron{
	border-radius: 0!important;
	background-position:top center
}