/*universal*/
html::-webkit-scrollbar,div::-webkit-scrollbar{
	width:10px;
	background:none;
}
html::-webkit-scrollbar-button,div::-webkit-scrollbar-button{
	display: none
}
html::-webkit-scrollbar-thumb,div::-webkit-scrollbar-thumb{
	background-color: rgba(0,0,0,.6);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
html{
	font-family: "-apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif"
}

h4{
	font-size:1.8em;
	line-height:1.5em
}
h1{
	font-size:4em!important;
}

@media(max-width:735px){
	center{text-align: left!important;padding:5px;}
	h1{font-size:3.8em!important;padding-left: 0}
}

code{
	background: #eee;
	border-radius: 5px;
	font-family: sans-serif;
	padding: 5px 10px 
}

.panel-body.method{
	text-align:left;
	line-height: 35px
}
.panel-body li{
	font-size: 1.2em
}

.footer {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 100px;
    color: #99979c;
    text-align: center;
    background-color: #2a2730;
}
.footer.in-dex {
    margin-top: 0px;
}
.footer-links {	
    padding-left: 0;
    display: inline-block;
    margin-bottom: 20px;
}
.footer-links li {
	margin-left: 25px;
	margin-top: 15px;
    display: inline-block;
}
.footer-links a {
	color: #ccc;
	transition:0.25s ease-out
}
.footer-links a:hover{
	color: #fff
}
.navbar{
	margin-bottom: 0!important
}
.navbar-default{
	transition:0.25s ease-out
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border:none;
	box-shadow:none
}
	/*navbar transparent style*/
.navbar-default.transparent{
	background-color:rgba(0,0,0,0.0);
	border:none
}
.navbar-default.transparent a{
	color:#fff!important;
}
.navbar-default.transparent .badge{
	background-color:#fff!important;
	color:#555;
}
.navbar-default.transparent .menubtn{
	color:#fff;
}
.navbar-default.transparent .collapsing{
	background-color:#222
}
.navbar-default.transparent .collapse.in{
	background-color:#222
}
.navbar-default.transparent .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color:transparent;
}
/*jumbotron style*/
.jumbotron{
	background-position:center;
	background-attachment:fixed;
	background-repeat: no-repeat;
	background-size:130%;
	background-color:#fff;
	margin-bottom: 0px;
}
@media(max-width:767px){
	.jumbotron{
		background-size:380%!important;
	}
}
.jumbotron.head{
	height:100%;
}
#ctr{
	padding-top:20%;
}
@media(max-width:735px){
	#ctr{
		padding-top:25%;
	}
}
@media(max-width:735px){
	.jumbotron{
	background-size:200%
	}
	#ctr{
	padding-top:40%;
	}
}

#brandimg{
	height:55px;
	margin-top:-10px
}
@media(max-width:385px){
	#brandimg{
		height:220%;
	margin-top:-10px
	}
}
@media(max-width:320px){
	#brandimg{
		height:210%;
		margin-top:0px
	}
}
tr{
	height: 40px
}
td{
	width:50%;
}

.panel{
	border:none;
}
.showname{
	font-size:1.2em;
	color:#0288D1;
	line-height: 43px;
}
.green{
	background-color: #008c57
}
.inlist{
	margin-top:12px;
}